{% extends 'base.html' %}

{% block title %}
informaçõesPost
{% endblock title %}

{% block content %}
<h1><b>{{ post.nomeFilme }}</b></h1>
<p><b>Publicado em {{ post.time }}</b></p>
<p> {{ post.opiniao|safe }} </p>

<h2>Categorias</h2>
  {% if post.categories %}
    <ul>
      {% for category in post.categories.all %}
      <li>{{ category.name }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Esse filme está sem Categorias.</p>
  {% endif %}

<h2>Comentários</h2>
  {% for comment in comments %}
    <p>{{ comment.text }} - {{ comment.author.username }} - {{ comment.pub_date|date }}</p>
  {% endfor %}

<a href="{% url 'createComment' pk=post.id %}">Comentar</a>

<a href="{% url 'postList' %}">Voltar para Meus Filmes</a>

{% endblock content %}